:root {
    --white: #fff;
    --ice: #f9fafb;
    --red: #ff2626;
    --divider: #D6DEED;
    --black: #0C172C;
    --blue: #4338ca;
    --light-blue: #4f46e5;
    --light-gray: rgb(254, 242, 242);
    --gray: #6b7280;
}