.system-msg-content {
    display: grid;
    grid-template-columns: fit-content(100%) 2fr;
    grid-column-gap: 0.675rem;

    padding: 0.5625rem 0.875rem;

    min-width: 10rem;
    height: fit-content;

    border-radius: 0.75rem;

    color: var(--white);

    background: var(--black);
}

.system-msg-content .icon {
    display: flex;
    align-self: center;

    flex: 0 0 auto;
}

.system-msg-content.success .icon {
    color: var(--green);
}

.system-msg-content.error .icon {
    color: var(--red);
}

.system-msg-content .icon svg {
    width: 1rem;
    height: 1rem;
}

.system-msg-content .text {
    word-break: break-all;

    width: 100%;
}


/* 
@media (min-width: 1600px) {
    .system-msg-content {
        min-width: 750px;

        border-radius: 30px;
    }
}

@media (max-width: 1280px) {
    .system-msg-content {
        width: 400px;
    }
}

@media (max-width: 905px) {
    .system-msg-content {
        width: 450px;
        border-radius: 15px;
    }
}

@media (max-width: 600px) {
    .system-msg-content {
        width: 250px;
    }
} */